<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel=""stylesheet" href="/static/style.css">
    </head>
<body>
    <div class=""container">
    <h2>Register</h2>>
    <input type="text" id="username" placeholder="Username">
        <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">

            <button onclick="register()">Register</button>
            </div>

            <script>
                async function register() {
                    const res = await fetch('/register',{
                        method: 'POST',
                        headers:{ 'content-type': 'application/json' },
                        body: JSON.stringify({
                            user: document.getElementById('username').value,
                            email: document.getElementById('email').value,
                            password: document.getElementById('password').value
                        })
                    });
                    if (res.ok) {
                        alert("Register successfully!");
                        window.location.href = "/login";
                    }else {
                        alert("Registration failed")
                    }
                }
                </script>

                </body>
                </html>    